body {
    background-color: whitesmoke;
}

.parent {
    width: 80vw;
    height: 500vh;
    border: 2px solid black;
    position: relative;
    left: 10vw;
    top: -9.5px;
    background-color: #b8e0d2;
}

.navbar {
    width: 80vw;
    height: 15vh;
    background-color: #b8e0d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-top: 3px solid black;
    top: -1px;
    z-index: 999;
}

.navbar p {
    margin-left: 2%;
    color: black;
    font-weight: 900;
    font-size: 180%;

}

.navbar p span {
    color: whitesmoke;
    font-size: 90%;
    font-style: italic;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a {
    text-decoration: none;
    margin: 0 25px;
    color: black;
    font-size: 120%;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar .display {
    display: flex;
}

.navbar img {
    display: inline-block;
    width: 80px;
    margin-right: 10px;
}

.bg {
    width: 80vw;
    height: 85vh;
    position: absolute;
    top: 15vh;
    background-image: url(Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg p {
    font-size: 60px;
    margin-top: 4px;
    margin-left: 18px;
    margin-right: 10px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
}

.bg p span {
    color: brown;
    font-size: 70px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    border-bottom: 4px solid salmon;
    border-radius: 20%;
    transition: 0.2s ease-in-out;

}

.product {
    position: absolute;
    top: 100vh;
    display: flex;
    height: 30vh;
    width: 80vw;
    border-bottom: 2px solid black;
    justify-content: center;
    align-items: center;
}

.parent .product a {
    background-color: blanchedalmond;
    text-decoration: none;
    margin: 0 50px;
    width: 200px;
    height: 50px;
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
    color: black;
    font-size: 30px;
    font-weight: 800;
}

.parent .pen {
    position: absolute;
    top: 130vh;
    height: 100vh;
    width: 80vw;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent .pen .pen1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent .pen h1 {
    color: burlywood;
    font-size: 80px;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 20px;
    text-decoration: underline white;
}

.parent .pen div img {
    display: inline-block;
    width: 200px;
    height: auto;
    margin: 0 20px;

}

.parent .pencil {
    position: absolute;
    top: 190vh;
    height: 100vh;
    width: 80vw;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent .pencil .pencil1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent .pencil h1 {
    color: burlywood;
    font-size: 80px;
    padding: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 20px;
    text-decoration: underline white;
}

.parent .pencil div img {
    display: inline-block;
    width: 200px;
    height: auto;
    margin: 0 20px;

}

.parent .book {
    position: absolute;
    top: 270vh;
    height: 100vh;
    width: 80vw;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent .book .book1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent .book h1 {
    color: burlywood;
    font-size: 80px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 20px;
    text-decoration: underline white;
}

.parent .book div img {
    display: inline-block;
    width: 200px;
    height: auto;
    margin: 0 20px;

}

.parent .eraser {
    position: absolute;
    top: 340vh;
    height: 100vh;
    width: 80vw;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent .eraser .eraser1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent .eraser h1 {
    color: burlywood;
    font-size: 80px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 20px;
    text-decoration: underline white;
}

.parent .eraser div img {
    display: inline-block;
    width: 200px;
    height: auto;
    margin: 0 20px;

}

.parent .eraser {
    border-bottom: 2px solid black;
}

.parent .pen1 img:hover {
    display: inline-block;
    height: 100px;
    width: auto;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.parent .pencil1 img:hover {
    display: inline-block;
    height: 100px;
    width: auto;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.parent .book1 img:hover {
    display: inline-block;
    height: 100px;
    width: auto;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.parent .eraser1 img:hover {
    display: inline-block;
    height: 100px;
    width: auto;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.parent .footer {
    position: absolute;
    top: 440vh;
    height: 60vh;
    width: 80vw;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
}

.parent .footer h1 {
    letter-spacing: 10px;
    color: honeydew;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent .footer p {
    letter-spacing: 10px;
    color: honeydew;
    font-size: 20px;
}